<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" metadata-complete="false">

  <!-- 如果有这个配置，就会读取这个配置，将这个参数存在servletContext里 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring.xml</param-value>
  </context-param>

  <listener>
    <!--
    实现了servletContextListener
    使用listener创建bean工厂，要比DispatcherServlet更早
     -->
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <listener>
    <listener-class>com.ue.listener.MyServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>ue-english</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- 如果不配的话会默认加载一个文件 /WEB-INF/spring-ssm-servlet.xml -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  
  <error-page>
    <error-code>404</error-code>
    <location>/404</location>
  </error-page>

  <servlet-mapping>
    <servlet-name>ue-english</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>
